# Introduction to Python - Assignment #3 (Pandas)
**Danilo III O. Gonzales** <br> 
MS Green Data Science

## Table of Contents
1. About the Dataset
2. Importing Libraries and CSV
3. Question 1: Which countries have received the highest total funded amounts? How about the lowest total funded amounts?
4. Question 2: Which activities are most common among Kiva borrowers globally?
5. Question 3: Which countries receive the largest average loans? How about countries with smallest average loans?
6. Question 4: In which sectors are female borrowers most represented, and what are the average loan amounts in those sectors? How about male borrowers?
7. Question 5: What are the top sectors with the highest number of borrowers, and what is the average loan amount in each of those sectors?¶
8. Question 6: How long does it typically take for loans to be fully funded after being posted, and which countries have the shortest and longest funding times?
9. References Used

### About the Dataset

<p style="text-align: justify;">
  The <strong>Kiva Loans Dataset</strong> is a publicly available dataset from 
  <a href="https://www.kaggle.com/datasets/kiva/data-science-for-good-kiva-crowdfunding">
  Data Science for Good: Kiva Crowdfunding Challenge on Kaggle</a>. It contains detailed information about microloans facilitated by <a href="https://www.kiva.org/"> Kiva</a>, a nonprofit organization that connects lenders and borrowers worldwide to support small-scale entrepreneurship and poverty alleviation.
</p>

The dataset contains the following key features: <br>
|Column Name|Description|
|---|---|
|id|Unique ID for loan|
|funded_amount|The amount disbursed by Kiva to the field agent(USD)|
|loan_amount|The amount disbursed by the field agent to the borrower(USD)|
|activity|More granular category (e.g., farming, retail, education|
|sector|High level category (e.g., agriculture, services, food)|
|use|Exact usage of loan amount|
|country_code|ISO country code of country in which loan was disbursed|
|country|Full country name of country in which loan was disbursed|
|region|Full region name within the country|
|currency|The currency in which the loan was disbursed|
|partner_id|ID of Kiva's field partner managing the loan|
|posted_time|Date and time when the loan was first posted on the Kiva platform|
|disbursed_time|Date and time when the loan funds were disbursed to the borrower|
|funded_time|Date and time when the loan reached full funding|
|terms_in_months|Duration of the loan (in months)|
|lender_count|Number of lenders who contributed to the loan|
|tags|Keywords associated to the loan transaction|
|borrower_genders|Gender of borrowers|
|repayment_interval|Frequency of repayments (e.g., monthly, irregular)|

### Importing Libraries and CSV

This analysis uses `numpy` for numerical computing (NumPy Developers, n.d.), `pandas` for data manipulation (pandas Development Team, n.d.), and Matplotlib’s `pyplot` for visualization (Matplotlib Developers, n.d.).

In [5]:
# Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
# Load CSV to Data Frame (df)
df = pd.read_csv('kiva_loans.csv')
print(df)

             id  funded_amount  loan_amount             activity  \
0        653051          300.0        300.0  Fruits & Vegetables
1        653053          575.0        575.0             Rickshaw
2        653068          150.0        150.0       Transportation
3        653063          200.0        200.0           Embroidery
4        653084          400.0        400.0           Milk Sales
...         ...            ...          ...                  ...
671200  1340323            0.0         25.0            Livestock
671201  1340316           25.0         25.0            Livestock
671202  1340334            0.0         25.0                Games
671203  1340338            0.0         25.0            Livestock
671204  1340339            0.0         25.0            Livestock

                sector                                                use  \
0                 Food            To buy seasonal, fresh fruits to sell.
1       Transportation  to repair and maintain the auto rickshaw used ...
2       Transportation  To repair their old cycle-van and buy another ...
3                 Arts  to purchase an embroidery machine and a variet...
4                 Food                           to purchase one buffalo.
...                ...                                                ...
671200     Agriculture  [True, u'para compara: cemento, arenya y ladri...
671201     Agriculture  [True, u'to start a turducken farm.'] - this l...
671202   Entertainment                                                NaN
671203     Agriculture  [True, u'to start a turducken farm.'] - this l...
671204     Agriculture  [True, u'to start a turducken farm.'] - this l...

       country_code   country        region currency  partner_id  \
0                PK  Pakistan        Lahore      PKR       247.0
1                PK  Pakistan        Lahore      PKR       247.0
2                IN     India     Maynaguri      INR       334.0
3                PK  Pakistan        Lahore      PKR       247.0
4                PK  Pakistan  Abdul Hakeem      PKR       245.0
...             ...       ...           ...      ...         ...
671200           PY  Paraguay    Concepción      USD        58.0
671201           KE     Kenya           NaN      KES       138.0
671202           KE     Kenya           NaN      KES       138.0
671203           KE     Kenya           NaN      KES       138.0
671204           KE     Kenya           NaN      KES       138.0

                      posted_time             disbursed_time  \
0       2014-01-01 06:12:39+00:00  2013-12-17 08:00:00+00:00
1       2014-01-01 06:51:08+00:00  2013-12-17 08:00:00+00:00
2       2014-01-01 09:58:07+00:00  2013-12-17 08:00:00+00:00
3       2014-01-01 08:03:11+00:00  2013-12-24 08:00:00+00:00
4       2014-01-01 11:53:19+00:00  2013-12-17 08:00:00+00:00
...                           ...                        ...
671200  2017-07-25 16:55:34+00:00  2017-07-25 07:00:00+00:00
671201  2017-07-25 06:14:08+00:00  2017-07-24 07:00:00+00:00
671202  2017-07-26 00:02:07+00:00  2017-07-25 07:00:00+00:00
671203  2017-07-26 06:12:55+00:00  2017-07-25 07:00:00+00:00
671204  2017-07-26 06:31:46+00:00  2017-07-25 07:00:00+00:00

                      funded_time  term_in_months  lender_count  \
0       2014-01-02 10:06:32+00:00            12.0            12
1       2014-01-02 09:17:23+00:00            11.0            14
2       2014-01-01 16:01:36+00:00            43.0             6
3       2014-01-01 13:00:00+00:00            11.0             8
4       2014-01-01 19:18:51+00:00            14.0            16
...                           ...             ...           ...
671200                        NaN            13.0             0
671201  2017-07-26 02:09:43+00:00            13.0             1
671202                        NaN            13.0             0
671203                        NaN            13.0             0
671204                        NaN            13.0             0

                                tags borrower_genders repayment_interval  \
0                                NaN           female          irregular
1                                NaN   female, female          irregular
2       user_favorite, user_favorite           female             bullet
3                                NaN           female          irregular
4                                NaN           female            monthly
...                              ...              ...                ...
671200                           NaN           female            monthly
671201                           NaN           female            monthly
671202                           NaN              NaN            monthly
671203                           NaN           female            monthly
671204                           NaN           female            monthly

              date
0       2014-01-01
1       2014-01-01
2       2014-01-01
3       2014-01-01
4       2014-01-01
...            ...
671200  2017-07-25
671201  2017-07-25
671202  2017-07-26
671203  2017-07-26
671204  2017-07-26

[671205 rows x 20 columns]

### **Question 1**: Which countries have received the highest total funded amounts? How about the lowest total funded amounts?

In [17]:
# Using groupby () 
grouped_funding_per_country = df.groupby('country')['funded_amount'].sum().sort_values(ascending=False).apply(lambda x: f"{x:,.2f}")

# Display the top 10 highest
print("Top 10 Countries with Highest Total Funded Amounts (USD):")
print(grouped_funding_per_country.head(5))

# Display the bottom 10 lowest
print("\nBottom 10 Countries with Lowest Total Funded Amounts (USD):")
print(grouped_funding_per_country.tail(5))

Top 10 Countries with Highest Total Funded Amounts (USD):
country
Philippines    54,476,375.00
Kenya          32,248,405.00
Peru           30,394,850.00
Paraguay       29,412,700.00
El Salvador    23,357,725.00
Name: funded_amount, dtype: object

Bottom 10 Countries with Lowest Total Funded Amounts (USD):
country
Mauritania        15,000.00
Afghanistan       14,000.00
Vanuatu            9,250.00
Guam                 395.00
Virgin Islands         0.00
Name: funded_amount, dtype: object

### **Question 2**: Which activities are most common among Kiva borrowers globally?

In [21]:
# Count the frequency in terms of activity
activity_count = df['activity'].value_counts().apply(lambda x: f"{x:,.2f}")

# Display the Top 10 Activity
activity_count.head(10)

activity
Farming                      72,955.00
General Store                64,729.00
Personal Housing Expenses    32,448.00
Food Production/Sales        28,106.00
Agriculture                  27,023.00
Pigs                         26,624.00
Retail                       24,771.00
Clothing Sales               22,339.00
Home Appliances              20,267.00
Higher education costs       19,742.00
Name: count, dtype: object

### **Question 3**: Which countries receive the largest average loans?

### **Question 4**: In which sectors are female borrowers most represented, and what are the average loan amounts in those sectors? How about male borrowers?

### **Question 5**: What are the top sectors with the highest number of borrowers, and what is the average loan amount in each of those sectors?

### **Question 6**: How long does it typically take for loans to be fully funded after being posted, and which countries have the shortest and longest funding times?